/* .profile-image::after {
  content: "";
  display: block;
  position: relative;
  width: 10px;
  border-radius: 50%;
  background-color: yellow;
  height: 20px;
  width: 20px;
  top: 10px;
  left: 50px;
} */
