@media only screen and (min-width: 1182px) {
  .portfolio-container {
    display: none;
  }
 
}

@media only screen and (max-width: 598px) {
  .custom-css-1 {
    height: 700px !important;
    background-size: 1320px 600px !important;
  }
}

@media only screen and (max-width: 799px) and (min-width: 768px) {
  .custom-css-1 {
   margin-left: 50px;
   margin-right: 50px;
  }
  .container{
    width: unset !important;
  }
}