/* .menu-wrapper {
  @apply w-[100px] h-full overflow-y-auto;
} */

.menu-wrapper::-webkit-scrollbar {
  display: none;
}
.info-wrapper::-webkit-scrollbar {
  width: 5px;
}
.header-wrapper::-webkit-scrollbar {
  width: 5px;
}
.adjust-scroll::-webkit-scrollbar {
  width: 0px;
}

.res-header {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 1182px) {
  .home-res-1 {
    padding: 0px;
  }
  .menu-disable {
    display: none;
  }
  .info-disable {
    display: none;
  }
  .res-header {
    display: flex !important;
  }
  .header-wrapper {
    width: 100% !important;
  }
  .res-width {
    width: 30% !important;
  }
}

@media only screen and (max-width: 650px) {
  .header-wrapper::-webkit-scrollbar {
    display: none !important;
  }
}

@media only screen and (max-width: 1000px) {
  .res-width {
    width: 40% !important;
  }
}
@media only screen and (max-width: 780px) {
  .res-width {
    width: 50% !important;
  }
}
@media only screen and (max-width: 630px) {
  .res-width {
    width: 60% !important;
  }
}
@media only screen and (max-width: 490px) {
  .res-width {
    width: 70% !important;
  }
}
@media only screen and (max-width: 440px) {
  .res-width {
    width: 80% !important;
  }
}
