@media only screen and (max-width: 799px) and (min-width: 768px) {
  .map {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media only screen and (max-width: 670px) {
  .map {
    width: 94vw;
  }
}
